h1 {
    padding-left: 500px;
    font-size: 100px;
    color: blue;
}

h3 {
    font-size: 80px;
}

h2 {
    font-size: 80px;
}

a:link {
    color: #4485ed;
}

a:visited {
    color: #1d3c6d;
}

a:hover {
    color: #91f0f7;
}

a:active{
    color: #58b5e8;
}

body {
    font-size: 20px;
}

